.container-all-checks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 0px;
    grid-template-areas:
      ". . . . ."
      ". . . . .";
}

.container-check {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-search {
    grid-column-start: 3;
    grid-column-end: 4;
}

